<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linguiqing.mychanage">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.MyAppLication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.recylerView.activity.VariousRecylerViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.recylerView.activity.VariousRecylerViewUsedMultiTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.selectPhoto.activity.SelectPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.handler.StudyHandlerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.usedFragment.UsedFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.productSku.ProductSkuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.usedOkHttp.UsedOkHttpActivity"
            android:screenOrientation="portrait" />
        <activity
        android:name=".ui.drawerLayout.DrawerLayoutActivity"
        android:screenOrientation="portrait" />
        <activity
            android:name=".ui.eventbus.StudyEventBusActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>