<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.linguiqing.mychanage">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 读取内存卡权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 读写内存卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- 读写联系人权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <!-- 位置权限 -->
    <!-- 通过WiFi或移动基站的方式获取用户错略的经纬度信息，定位精度大概误差在30~1500米 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 通过GPS芯片接收卫星的定位信息，定位精度达10米以内 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 麦克风录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 读取短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <!-- 发送短信权限 -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!-- 接收短信权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!-- 传感器权限权限 -->
    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <!-- 照相机权限权限 -->
    <uses-permission android:name="android.permission.CAMERAS"/>
    <!-- 读取日历权限 -->
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <!-- 读写日历权限 -->
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>

    <application
        android:name=".app.MyAppLication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.recylerView.activity.VariousRecylerViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.recylerView.activity.VariousRecylerViewUsedMultiTypeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.selectPhoto.activity.SelectPhotoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.handler.StudyHandlerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.usedFragment.UsedFragmentActivity"
            android:screenOrientation="portrait">
            // 配置匿名跳转
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                 
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="ling"/>
            </intent-filter>
                 
        </activity>
        <activity
            android:name=".ui.productSku.ProductSkuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.usedOkHttp.UsedOkHttpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.drawerLayout.DrawerLayoutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.eventbus.StudyEventBusActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.usedAnimation.StudyAnimationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.usedDataBinging.StudyDataBindingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.usedDataBinging.StudyDataBindingToRecylerViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.permission.StudyPermissionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.richText.StudyRichTextActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.photoView.StudyPhotoViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.webView.StudyWXPayAtivity"/>
        <activity android:name=".ui.webView.StudyWebActivity"/>
        <activity android:name=".ui.rxjava.StudyRxJavaActivity"/>
        <activity android:name=".ui.smartRefresh.SimpleProductListActivity"/>
        <activity android:name=".ui.rxjava.RxImageLoadActivity"/>
        <activity android:name=".ui.recylerView.activity.CalendarRecylerViewActivity"/>
        <activity android:name=".ui.retrofit.StudyRetrofitActivity"/>
        <activity android:name=".ui.dagger.StudyDaggerActivity">
        </activity>
    </application>

</manifest>